.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
    max-width: fit-content;
    margin: auto;
}

.one {
    border: 2px solid black;
    border-radius: 6%;
    padding: 40px;
    background-color: bisque;
    margin-bottom: 40px;
    text-align: center;
}

.two {
    border: 2px solid black;
    border-radius: 6%;
    padding: 40px;
    background-color: bisque;
    margin-bottom: 40px;
    text-align: center;
}

.link1 {
    text-decoration: none;
    color: black;
}

.three {
    border: 2px solid black;
    border-radius: 6%;
    padding: 40px;
    background-color: bisque;
    margin-bottom: 40px;
    text-align: center;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 90px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('image.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}